body {
	font-family: "Helvetica Neue", Arial, sans-serif, tahoma;
	font-size: 110%;
	color: #333;
	background-color: rgba(0,0,0,.8);
}
.flex1 { -moz-box-flex: 1; -webkit-box-flex: 1; box-flex: 1; }
.flex2 { -moz-box-flex: 2; -webkit-box-flex: 2; box-flex: 2; }
.box { display: -moz-box; display: -webkit-box; display: box; }
.vertical { -moz-box-orient: vertical; -webkit-box-orient: vertical; box-orient: vertical; }
.fill_dock { position: absolute; width: 100%; height: 100%; }

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url(Roboto-Thin.ttf);
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(Roboto-Light.ttf);
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url(Roboto-Regular.ttf);
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url(Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Bangna';
    src: url('wdb_bangna-webfont.eot');
    src: url('wdb_bangna-webfont.eot?#iefix') format('embedded-opentype'),
         url('wdb_bangna-webfont.ttf') format('truetype'),
         url('wdb_bangna-webfont.svg#wdb_bangnaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*#toolbar {
	height: 50px;
	background-color: #ddd;
	color: #1A1A1A;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	border-bottom: solid 1px #ccc;
}
#toolbar h1 {
	font-size: 110%;
	margin: 0 auto;
	max-width: 900px;
	line-height: 50px;
	text-align: center;
}
#toolbar .buttons {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	overflow: hidden;
	top: 0;
}
#toolbar .buttons a {
	float: left;
	width: 50px;
	height: 50px;
	display: block;
	background-position: center center;
	background-size: 20px;
	background-repeat: no-repeat;
}
#toolbar .buttons a.share {
	background-image: url(../images/share.png);
}
#toolbar .buttons a.download {
	background-image: url(../images/download.png);
}*/

#wrapper {
	position: relative;
	height: 100%;	
	max-width: 900px;
	margin: 0 auto;
}
#panel {
	position: absolute;
	width: 250px;
	height: 100%;
	top: 0;
	right: 0;
}
#share {
	position: absolute;
	width: 100px;
	height: 100%;
	background-color: #f3f3f3;
	top: 0;
	left: 0;
}
#content {
	margin-right: 250px;
	position: relative;
	padding: 25px;
}
#story {
	position: relative;
	margin: 0 auto;
}
#story .page {
	position: absolute;
	width: 100%;
	height: 100%;
}
#story .page.active {
	display: block;
}
#story .page .pic {
	background-color: #ddd;
}
#story .page .pic img {
	width: 100%;
	height: 100%;
}
#story .page .caption {
	background-color: #fff;
	position: relative;
	padding-bottom: 36px;
	padding-left: 15px;
	padding-right: 15px;
}
#story .page .nav {
	position: absolute;
	line-height: 35px;
	right: 5px;
}
#story .page .message {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}
#story .page .message span {
	display: table-cell;
	vertical-align: middle;
	font-size: 90%;
}
#story .page .pline {	
	height: 35px;
	font-size: 80%;
	border-top: solid 1px #e2e2e2;
	overflow: hidden;
	line-height: 35px;
}
#story .page .nav span {
	padding-right: 10px;
}
#story .change {
	position: absolute;
	height: 50%;
	top: 25%;
	width: 100px;
	z-index: 1000;
	background-size: 20px;
	background-repeat: no-repeat;
}
#story:active .change {
	display: block;
}
#story .change.left {
	left: -25px;
	background-position: left center;
	background-image: url(../images/prev.png);
}
#story .change.right {
	right: -25px;
	background-position: right center;
	background-image: url(../images/next.png);
}

h2.share_title {
	font-size: 100%;
	color: #fff;
	margin-bottom: 15px;
	padding: 0 15px;
	padding-top: 5px;
}

.share_list {
	padding: 0 10px;
	overflow: hidden;
}
.share_list li {
	float: left;
	width: 50px;
	margin-right: 20px;
}
.share_list .label {
	display: block;
	color: #999;
	padding: 10px 10px 10px 10px;
	font-size: 80%;
	text-align: center;
}
.share_list .link {
	display: block;
	height: 50px;
	background-position: center center;
	background-repeat: no-repeat;
}
.share_list .link.fb {
	background-image: url(../images/facebook.png);
}
.share_list .link.tw {
	background-image: url(../images/twitter.png);
}
.share_list .link.gp {
	background-image: url(../images/gplus.png);
}

.download_panel {
	padding-top: 65px;
	padding-left: 15px;
	padding-right: 15px;
}
.download_panel h2 {
	font-size: 100%;
	color: #fff;
	margin-bottom: 15px;
}
.download_panel .link {
	border-radius: 5px;
	display: block;
	padding: 12px;
	color: #fff;
	background-color: #33b5e5;
	margin-bottom: 15px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-position: 15px center;
	width: 100px;
}
.download_panel .link span {
	display: block;
}
.download_panel .link .av {
	font-size: 70%;
	margin-top: 5px;
	margin-bottom: 2px;
}
.download_panel .link.android {
	background-image: url(../images/android.png);
}
.download_panel .link.ios {
	background-image: url(../images/apple.png);
}

#cover, #last_cover {
	background-color: #ddd;
	background-position: center center;
	background-size: auto 100%;
}
#cover:after, #last_cover:after {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}
#last_cover .end_box {
	width: 100px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin-top: -25px;
	margin-left: -50px;
	position: absolute;
	z-index: 10;	
	
	color: #fff;
	font-size: 180%;
	text-align: center;
	font-family: 'Roboto', 'Bangna';
	font-weight: 400;
}
#cover .header {
	z-index: 1; 
	position: absolute;
}
#cover .title {
	font-family: 'Roboto', 'Bangna';
	padding: 10px 15px;
	font-size: 180%;
	color: #fff;
	line-height: 40px;
	margin-top: 10px;
}
#cover .desc {
	font-size: 80%;
	color: #eee;
	padding: 0 15px;
	margin-bottom: 10px;
	line-height: 22px;
}
#cover .bline {	
	height: 1px;
	margin: 0 10px 10px;
	width: 70%;
	background-color: #fff;
}
#cover .author {	
	float: left;
	padding: 10px 15px;
	overflow: hidden;
}
#cover .author .upic {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border-radius: 15px;
	background-color: #fff;
	padding: 1px;
}
#cover .author .upic img {
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
#cover .author .uname {
	float: left;
	line-height: 32px;
	color: #fff;
	font-family: 'Roboto', 'Bangna';
	font-size: 80%;
}
#cover .pcount {
	color: #fff;
	font-size: 100%;
	text-align: center;
	z-index: 1;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, .3);
	line-height: 50px;
	border-radius: 25px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-family: 'Roboto'	
}

.warn_msg {
	position: absolute;
	width: 300px;
	height: 50px;
	top: 50%;
	left: 50%;
	font-size: 110%;
	margin-top: 0;
	margin-left: -150px;
	text-align: center;
}
#resetpass{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#resetpass .input_layout{
	margin-bottom: 15px;
}

#resetpass button[type=submit]{
	color: #fff;
	background-color: #33B5E5;	
}

#resetpass .disable{
	pointer-events:none;
	opacity:0.5;'
}


#resetpass .input_layout .label{
	font-size: 95%;
	margin-bottom: 5px;	
}

#resetpass .input_layout .label.err_msg {
	font-weight: normal;
	color: red;
	font-size: 90%;
}

#reset_message{
	padding-top:10px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;	
	font-size: 125%;
	text-align: center;
}

#reset_message .title{
	font-size: 90%;
}

#reset_message img{
	width: 80px;
	height: 80px;
	border-radius: 15px;
}

#reset_message .accountname{
	font-size: 85%;
	margin-top: 20px;
	color: #777;
}

#tos {
	padding: 10px;
	margin: 10px;
	background-color: #fff;
}
#tos h1 {
	padding-top: 10px;
	padding-bottom: 10px;
}
#tos h2 {
	font-size: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: underline;
}
#tos p {
	font-size: 80%;
	padding-bottom: 10px;
}

.dlink {
	border-radius: 5px;
	display: block;
	padding: 12px;
	/*color: #33b5e5;*/
	color: #333;
	background-color: #fff;
	margin-bottom: 15px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-position: 15px center;
	width: 100px;
}
.dlink span {
	display: block;
}
.dlink .av {
	font-size: 70%;
	margin-top: 5px;
	margin-bottom: 2px;
}
.dlink.android {
	background-image: url(../images/android_blue.png);
}
.dlink.ios {
	background-image: url(../images/apple_blue.png);
}

#bg_blue {
	position: absolute;
	width: 100%;
	top: 150px;
	background: linear-gradient(to bottom, #0099cc 0%, #6dcaec 100%);
	height: 400px;
	z-index: -1;
	left: 0px;
}

#container {
	max-width: 960px; 
	margin: 0 auto;
}
#header {
	height: 120px; 
	position: relative;
}
#logo {
	position: absolute; 
	max-width: 350px; 
	max-height: 120px;
}
#logo img {
	max-width: 100%;
	max-height: 100%;
}
#nav {
	height: 120px; margin-left: 350px; overflow: hidden;
}
#nav .nav_panel {
	padding-top: 40px; overflow: hidden; border-bottom: solid 2px #33B5E5;
}
#nav .menu_list {
	float: right; line-height: 40px; overflow: hidden; height: 40px;
}
#nav .menu_list li {
	float: left;
}
#nav .menu_list li a {
	color: #555; display: block; padding: 0 15px;
}

#body {
	position: relative;
}
#body .about {
	position: relative; margin-left: 530px; padding-right: 20px;
	height: 410px;
}
#body .qtitle {
	padding-top: 50px;
	margin-bottom: 20px;
	font-size: 200%;
	font-family: 'Roboto';
	color: #fff;
}
#body .hline {
	height: 1px; background-color: #fff; margin-bottom: 20px;
}
#body .para {
	font-size: 120%; color: #fff; font-family: 'Roboto';
}
#body .lpanel {
	overflow: hidden;
	margin-top: 30px;
}
#body .fb_contact {
	position: absolute; height: 50px; left: 0; bottom: 0;
}
#body .fb_contact .icon {
	width: 50px;
	height: 50px;
	background: no-repeat url(../images/fb.png) center center;
	position: absolute;
	top: 0;
	right: -15px;
	display: block;
}
#body .fb_panel {
	float: left; position: relative; padding-right: 50px; line-height: 40px; color: #fff; font-family: 'Roboto'; border-bottom: solid 1px #fff;
}

#mockup {
	top: -20px;
	width: 530px;
	height: 526px;
	position: absolute;
	background: no-repeat url(../images/mockup.png) top center;
}
#carousel {
	top: 52px;left: 229px;width: 217px;height: 389px; position: absolute;
}
#carousel div {
	width: 217px; height: 389px;
}

.about_text {
	padding: 15px;
	max-width: 800px;
	margin: 0 auto;
	font-family: 'Roboto';
}
.about_text p {
	padding-bottom: 15px;
}
.about_text p.q {
	text-align: center;
	font-size: 120%;
	font-weight: 500;
	padding: 20px 0;
}

@media only screen and (max-width : 959px) {
	#mockup {
		display: none;
	}
	#carousel {
		display: none;
	}
	#body .hline {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
	#body .qtitle {	
		padding-top: 20px;
		text-align: center;
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
	#body .about {
		margin-top: 30px;
		margin-left: 0;
		padding-left: 20px;
		text-align: center;
		width: auto;		
		background: linear-gradient(to bottom, #0099cc 0%, #6dcaec 100%);
	}
	#body .para {	
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
	#body .fb_contact {
		left: 50%;
		bottom: 20px;
		width: 242px;
		margin-left: -121px; 
	}
	#body .lpanel {
		width: 374px;
		margin-left: auto;
		margin-right: auto;
	}
	#bg_blue {
		display: none;
	}
	#nav .menu_list {
		float: left;
	}
}

@media only screen and (max-width : 599px) {
	#header {
		height: auto;
	}
	#logo {
		position: static;
		margin: 0 auto;
	}
	#nav {
		margin-left: 0;
		height: auto;
	}
	#nav .nav_panel {
		padding-top: 0;
		border-top: solid 2px #33B5E5;
	}
	#nav .menu_list {
		float: none;
		overflow: hidden;
		line-height: 50px;
		height: 50px;
	}
	#nav .menu_list li {
		width: 33.33%;
		text-align: center;
	}
	#nav .menu_list li a {
		padding: 0;
	}
	#body .about {
		margin-top: 0px;
	}
}
@media only screen and (max-width : 419px) {
	#body .lpanel {
		width: 202px;
		margin: 0 auto;
		margin-top: 20px;
	}
	#body .qtitle {
		font-size: 150%;
	}
	#body .para {
		font-size: 100%;
	}
	.dlink {
		margin: 0 10px 10px 10px;
	}
	#body .qtitle {
		font-size: 150%;
	}
	#body .para {
		font-size: 100%;
	}
	#body .about {
		height: 450px;
	}
}
@media only screen and (max-width : 369px) {
}
