body {
	font-family: "Helvetica Neue", Arial, sans-serif, tahoma;
	font-size: 110%;
	color: #333;
	background-color: #e9e9e9;
}

#toolbar {
	height: 50px;
	background-color: #ddd;
	color: #1A1A1A;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	border-bottom: solid 1px #ccc;
}
#toolbar h1 {
	font-size: 110%;
	margin: 0 auto;
	max-width: 900px;
	line-height: 50px;
	text-align: center;
}
#toolbar .buttons {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	overflow: hidden;
	top: 0;
}
#toolbar .buttons a {
	float: left;
	width: 50px;
	height: 50px;
	display: block;
	background-position: center center;
	background-size: 20px;
	background-repeat: no-repeat;
}
#toolbar .buttons a.share {
	background-image: url(../images/share.png);
}
#toolbar .buttons a.download {
	background-image: url(../images/download.png);
}
#wrapper {
	position: relative;
	height: 100%;	
	max-width: 900px;
	margin: 0 auto;
	background-color: #e9e9e9;
}
#panel {
	position: absolute;
	width: 250px;
	height: 100%;
	top: 0;
	right: 0;
}
#share {
	position: absolute;
	width: 100px;
	height: 100%;
	background-color: #f3f3f3;
	top: 0;
	left: 0;
}
#content {
	padding-top: 50px;
	margin-right: 250px;
	position: relative;
}
#story {
	position: relative;
	margin: 15px auto;
	
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
}
#story .page {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
#story .page.active {
	display: block;
}
#story .page .pic {
	background-color: #ddd;
}
#story .page .pic img {
	width: 100%;
	height: 100%;
}
#story .page .caption {
	background-color: #fff;
	position: relative;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
#story .page .nav {
	position: absolute;
	line-height: 30px;
	bottom: 5px;
	right: 5px;
}
#story .page .message {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}
#story .page .message span {
	display: table-cell;
	vertical-align: middle;
}
#story .page .nav span {
	padding-right: 10px;
	font-size: 80%;
}
#story .change {
	position: absolute;
	height: 50%;
	top: 25%;
	width: 100px;
	z-index: 1000;
	background-size: 20px;
	background-repeat: no-repeat;
}
#story:active .change {
	display: block;
}
#story .change.left {
	left: -25px;
	background-position: left center;
	background-image: url(../images/prev.png);
}
#story .change.right {
	right: -25px;
	background-position: right center;
	background-image: url(../images/next.png);
}

h2.share_title {
	font-size: 100%;
	color: #555;
	margin-bottom: 15px;
	padding: 0 15px;
	padding-top: 5px;
}

.share_list {
	padding: 0 10px;
	overflow: hidden;
}
.share_list li {
	float: left;
	width: 50px;
	margin-right: 20px;
}
.share_list .label {
	display: block;
	color: #999;
	padding: 10px 10px 10px 10px;
	font-size: 80%;
	text-align: center;
}
.share_list .link {
	display: block;
	height: 50px;
	background-position: center center;
	background-repeat: no-repeat;
}
.share_list .link.fb {
	background-image: url(../images/facebook.png);
}
.share_list .link.tw {
	background-image: url(../images/twitter.png);
}
.share_list .link.gp {
	background-image: url(../images/gplus.png);
}

.download_panel {
	padding-top: 65px;
	padding-left: 15px;
	padding-right: 15px;
}
.download_panel h2 {
	font-size: 100%;
	color: #555;
	margin-bottom: 15px;
}
.download_panel .link {
	border-radius: 5px;
	display: block;
	padding: 12px;
	color: #fff;
	background-color: #33b5e5;
	margin-bottom: 15px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-position: 15px center;
	width: 100px;
}
.download_panel .link span {
	display: block;
}
.download_panel .link .av {
	font-size: 70%;
	margin-top: 5px;
	margin-bottom: 2px;
}
.download_panel .link.android {
	background-image: url(../images/android.png);
}
.download_panel .link.ios {
	background-image: url(../images/apple.png);
}

#cover {
	background-color: #ddd;
	background-position: center center;
	background-size: auto 100%;
}
#cover:after {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}
#cover .header {
	z-index: 1; 
	position: absolute;
}
#cover .title {
	padding: 10px 15px;
	font-size: 180%;
	color: #fff;
	line-height: 40px;
	margin-top: 10px;
}
#cover .desc {
	font-size: 80%;
	color: #eee;
	padding: 0 15px;
	margin-bottom: 10px;
	line-height: 22px;
}
#cover .bline {	
	height: 1px;
	margin: 0 10px 10px;
	width: 70%;
	background-color: #fff;
}
#cover .author {	
	float: left;
	padding: 10px 15px;
	overflow: hidden;
	padding-top: 0;
}
#cover .author .upic {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #fff;
	padding: 1px;
}
#cover .author .upic img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#cover .author .uname {
	float: left;
	line-height: 32px;
	color: #fff;
	font-size: 100%;
	padding: 10px 0;
}
#cover .pcount {
	color: #fff;
	font-size: 100%;
	text-align: center;
	z-index: 1;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, .3);
	line-height: 50px;
	border-radius: 25px;
	position: absolute;
	bottom: 15px;
	right: 15px;
}