#page_SignIn .sign_in_form {
	width: 100%;
}
#page_SignIn .text_link {
	text-align: center;
	padding-top: 30px;
	font-size: 80%;
}

#page_AddPage .photo_panel {
	background-color: #fff;
	margin: 10px;
	height: 200px;
	position: relative;
}
#page_AddPage .photo_panel .mask_camera {
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background-color: #999999;
	-webkit-mask-size: 30px; 
	-webkit-mask-position: center center; 
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url(../icons/camera.png);
}
#page_AddPage .photo_panel .label {
	font-size: 80%;
	color: #999;
}
#page_AddPage .caption_panel {
	background-color: #fff;
	margin: 0 10px 10px;
}
#page_AddPage #add_photo {
	background-size: 100%;
}
#page_AddPage .remove {
	width: 50px; 
	height: 50px; 
	top: 0; 
	right: 0; 
	display: block;
	position: absolute;
}
#page_AddPage .remove.no_display {
	display: none;
}
#page_AddPage .remove_bg {
	width: 50px; 
	height: 50px; 
	top: 0; 
	right: 0; 
	position: absolute;
	background-color: #fff;
	opacity: .8;
}
#page_AddPage .remove .icon {
	-webkit-mask-size: 20px; 
	-webkit-mask-position: center center; 
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url(../icons/cancel.png);
	background: #4d4d4d;
	width: 50px;
	height: 50px;
	display: block;
}

#page_BookList .book_list {
	background-color: #fff;
	margin: 10px;
}
#page_BookList .book_list li {
	padding: 10px;
}

#page_BookList .container {
	margin: 10px;
}

/* #page_AddPage, #page_BookList */
.sel_book {
	background-color: #fff;
	margin: 10px 10px 0 10px;
}
.sel_book.item {
	margin: 0;
	-webkit-box-shadow: 0px 0px 2px #b6b6b6;
}
.sel_book .bimage {
	background-color: #ddd;
	width: 50px;
	height: 50px;
	margin: 10px 0 10px 10px;
}
.sel_book .bimage img {
	width: 50px;
	height: 50px;
}
.sel_book .btitle {
	padding: 0 10px;
	-webkit-box-align: center;
	text-align: left; 
}
.sel_book .show_all {
	height: 70px;
}
.sel_book .show_all .sep {
	margin-top: 10px; 
	width: 1px; 
	height: 50px; 
	border-left: solid 1px #B3B3B3;
}
.sel_book .link_icon {
	display: block;
	padding: 0 15px;
}
.sel_book .link_icon.highlight {
	background-color: #6DCAEC;	
	position: relative;
}
.sel_book .mask_icon {
	width: 20px;
	height: 70px;
	display: block;
	background-color: #4D4D4D;
}

#page_PublishBook .book_panel {
	background-color: #fff;
	padding: 10px;
	margin: 10px;
}
#page_PublishBook .book_panel .bimage {
	width: 90px;
	height: 115px;
	background-color: #ddd;
	overflow: hidden;
}
#page_PublishBook .book_panel .bimage img {
	width: 100%;
}
#page_PublishBook .book_panel .binfo  {
	padding-left: 10px;
}
#page_PublishBook .book_panel .title {
	font-weight: bold;
	padding-bottom: 10px;
}
#page_PublishBook .book_panel .binfo .desc {
	font-size: 85%;
	color: #999;
	overflow: hidden;
	height: 85px;
}
#page_PublishBook .book_panel .binfo .pcount {
	padding-top: 10px;
	font-size: 90%;
	text-align: right;
}
#page_PublishBook .btn_panel {
	margin: 0 10px;
	text-align: center;
	background-color: #ddd;
	line-height: 40px;
	font-size: 85%;
}

#page_Profile .profile_bg, #page_Book .book_bg {
	z-index: -3;	
}
#page_Profile .grad_overlay {
	z-index: -2;
	background-color: #000;
	opacity: .5;
}
#page_Profile .books_panel {
	position: absolute;
	height: 175px;
	width: 100%;
	bottom: 0;
}
#page_Profile .books_grad {
	position: absolute;
	height: 175px;
	width: 100%;
	background-color: #000;
	opacity: .5;
	bottom: 0;
	z-index: -1;
}
#page_Profile .books_panel .label {
	color: #fff;
	font-size: 90%;
}
#page_Profile .books_panel .label div {
	padding: 10px;
}
#page_Profile .books_panel .label a {
	color: #ccc;
	display: block;
	padding: 10px;
}
#page_Profile .books_panel .bitem {
	margin: 0 5px;
}
#page_Profile .books_panel .books {
	padding: 0 5px;
}
#page_Profile .books_panel .book {
	background-color: #ddd;
	color: #fff;
	height: 125px;
	background-position: center center;
	background-size: auto 100%;
	position: relative;
	overflow: hidden;
}
#page_Profile .books_panel .book:after {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 75%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0) 100%);
}

#page_Profile .books_panel .book .title {	
	text-shadow: 0 2px 0 rgba(0,0,0,0.6);
	font-size: 85%;
	padding: 5px;
	position: relative;
	z-index: 1;
}
#page_Profile .profile_info {
	bottom: 185px;
	width: 100%;
	position: absolute;
	height: 90px;
}
#page_Profile .profile_info .pimage {
	width: 70px;
	height: 70px;
	margin: 15px 5px 10px 10px;
	border-radius: 35px;
	background-color: #ddd;
}
#page_Profile .profile_info .pimage img {
	width: 70px;
	height: 70px;
	border-radius: 35px;
}
#page_Profile .pname {
	color: #fff;
	padding-top: 15px;
	font-size: 150%;
	position: absolute;
	bottom: 280px;
	left: 10px;
}
#page_Profile .profile_info .stat {
	overflow: hidden;
	margin-top: 10px;
	height: 40px;
}
#page_Profile .profile_info .stat .counter {
	border-right: solid 1px #fff;
	color: #fff;
	text-align: center;
	padding-top: 2px;
}
#page_Profile .profile_info .stat .counter:last-child {
	border-right: none;
}
#page_Profile .profile_info .stat .counter .value {
	font-family: HNC;
}
#page_Profile .profile_info .stat .label {	
	font-size: 70%;
	font-weight: bold;
}
#page_Profile .btn_follow {
	display: block;
	margin: 10px;
	text-align: center;
	font-size: 70%;
	background-color: transparent;
	line-height: 28px;
	color: #fff;
	border: solid 1px #fff;
}
/*#page_Profile .btn_follow:active, #page_Profile .btn_follow.follow:active {
	background-color: #fff;
	color: #333;
}*/
#page_Profile .btn_follow.follow {
	background: #ccc;
	line-height: 30px;
	color: #333;
	border-style: none;
}

#page_Book .btitle {
	padding: 10px;
	font-size: 180%;
	color: #fff;
	line-height: 35px;
}
#page_Book .grad_overlay {
	z-index: -2;
	background-color: #000;
	opacity: .5;
}
#page_Book .bdesc {
	font-size: 80%;
	color: #eee;
	padding: 0 10px;
}
#page_Book .bline {
	height: 1px;
	margin: 10px;
	width: 70%;
	background-color: #fff;
}
#page_Book .author_info {
}
#page_Book .author_info .pimage {
	width: 50px;
	height: 50px;
	margin: 0 10px;
	border-radius: 25px;
	background-color: #ddd;
}
#page_Book .author_info .pimage img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#page_Book .author_info .name {
	color: #fff;
}
#page_Book .text_bar {
	padding: 10px;
}
#page_Book .bottom_info {
	position: absolute;
	bottom: 0;
	color: #fff;
	width: 100%;
}
#page_Book .page_nav {
	top: 0;
}
#page_Book #tap_nav .flex1.highlight {
}

#page_Comments .comment_list .image {
	width: 50px;
	padding: 10px;
}
#page_Comments .comment_list .image img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#page_Comments .comment_list .cbox {
	padding: 10px 10px 0 0;
}
#page_Comments .comment_list .dname {
	font-size: 90%;
	font-weight: bold;
}
#page_Comments .comment_list .message {
	margin-top: 5px;
}
#page_Comments .comment_list .time {
	margin-top: 5px;
	font-size: 70%;
	color: #999;
}
#page_Comments #input_comment input {
	font-size: 110%;
}
#page_Comments #input_comment {
	padding: 5px;
	background-color: #fff;
}

#page_Settings .chg_pic {
	width: 40px;
	height: 40px;
	background-color: #ddd;
	margin-left: 10px;
	border-radius: 20px;
}
#page_Settings .chg_pic img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}