#page_SignIn .sign_in_form {
	width: 100%;
}
#page_SignIn .text_link {
	text-align: center;
	padding-top: 30px;
	font-size: 80%;
}

#page_AddPage .tbar_btn.highlight {
	background-color: #6DCAEC;
}
#page_AddPage .tbar_icon {
	width: 30px; height: 30px; -webkit-mask-size: 16px; background-color: #555;
}
#page_AddPage .tbar_label {
	font-size: 90%; line-height: 30px; color: #555; padding-left: 5px;
}
#page_AddPage .tbar_sep {
	width: 1px; background-color: #555; height: 30px; margin-top: 10px;
}
#page_AddPage .remove {
	width: 50px; 
	height: 50px; 
	top: 0; 
	right: 0; 
	display: block;
	position: absolute;
	z-index: 2;
}
#page_AddPage .remove_bg {
	width: 50px; 
	height: 50px; 
	top: 0; 
	right: 0; 
	position: absolute;
	background-color: #fff;
	opacity: .8;
	z-index: 1;
}
#page_AddPage .remove .icon {
	-webkit-mask-size: 20px; 
	-webkit-mask-position: center center; 
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url(../icons/cancel.png);
	background: #4d4d4d;
	width: 50px;
	height: 50px;
	display: block;
}
#page_AddPage #box_photo {
	position: relative;
	height: 0;
	margin: 10px;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
}
#page_AddPage #photo_label .icon {
	margin: 0 auto;
	width: 40px;
	height: 40px;
	background-color: #777;
	-webkit-mask-size: 30px;
	-webkit-mask-position: center center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url(../icons/camera.png);
}
#page_AddPage #photo_label .label {
	font-size: 80%;
	color: #777;
}
#page_AddPage #box_desc {
	-webkit-box-align: center; height: 0; margin: 0 10px 10px; background-color: #fff;
}
#page_AddPage #box_photo {
	-webkit-box-align: center; height: 0; margin: 10px; background-color: #fff;
}
#page_AddPage #desc_label {
	color: #999; text-align: center; width: 100%;
}
#page_AddPage #desc_text {
	padding: 10px;
}

#page_BookList .book_list {
	background-color: #fff;
	margin: 10px;
}
#page_BookList .book_list li {
	padding: 10px;
}

#page_BookList .container {
	margin: 10px;
}

/* #page_AddPage, #page_BookList */
.sel_book {
	background-color: #fff;
	margin: 10px 10px 0 10px;
}
.sel_book.item {
	margin: 0;
	-webkit-box-shadow: 0px 0px 2px #b6b6b6;
}
.sel_book .edit_book.highlight {
	background-color: #6DCAEC;		
}
.sel_book .bimage {
	background-color: #ddd;
	width: 50px;
	height: 50px;
	margin: 10px 0 10px 10px;
	overflow: hidden;
}
.sel_book .bimage img {
	width: 50px;
}
.sel_book .btitle {
	padding: 0 10px;
	-webkit-box-align: center;
	text-align: left; 
}
.sel_book .show_all {
	height: 70px;
}
.sel_book .show_all .sep {
	margin-top: 10px; 
	width: 1px; 
	height: 50px; 
	border-left: solid 1px #B3B3B3;
}
.sel_book .link_icon {
	display: block;
	padding: 0 15px;
}
.sel_book .link_icon.highlight {
	background-color: #6DCAEC;	
	position: relative;
}
.sel_book .mask_icon {
	width: 20px;
	height: 70px;
	display: block;
	background-color: #4D4D4D;
}

#page_PublishBook .book_panel {
	background-color: #fff;
	padding: 10px;
	margin: 10px;
}
#page_PublishBook .book_panel .bimage {
	width: 90px;
	height: 115px;
	background-color: #ddd;
	overflow: hidden;
}
#page_PublishBook .book_panel .bimage img {
	width: 100%;
}
#page_PublishBook .book_panel .binfo  {
	padding-left: 10px;
}
#page_PublishBook .book_panel .title {
	font-weight: bold;
	padding-bottom: 10px;
}
#page_PublishBook .book_panel .binfo .desc {
	font-size: 85%;
	color: #999;
	overflow: hidden;
	height: 85px;
}
#page_PublishBook .book_panel .binfo .pcount {
	padding-top: 10px;
	font-size: 90%;
	text-align: right;
}
#page_PublishBook .btn_panel {
	margin: 0 10px;
	text-align: center;
	background-color: #ddd;
	line-height: 40px;
	font-size: 85%;
}
#page_PublishBook .btn_panel .sep {
	width: 1px;
	height: 40px;
	background-color: #fff;
}
#page_PublishBook .btn_panel .btn {
	display: block;
	font-size: 80%;
	color: #555;
	font-weight: bold;
}
#page_PublishBook .btn_panel .btn.highlight {
	background-color: #6DCAEC;
}
#page_PublishBook .check_label {
	font-size: 80%;
	color: #777;
	-webkit-box-align: center;
}
#page_PublishBook .btn_check {
	display: block;
	padding: 10px;
}
#page_PublishBook .btn_check.highlight {
	background-color: #6DCAEC;	
}
#page_PublishBook .btn_check .check_icon {
	width: 20px; 
	height: 20px;
	display: block;
	background-color: #555;
	-webkit-mask-size: 20px; 
	-webkit-mask-position: center center; 
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url(../icons/uncheck.png);
}
#page_PublishBook .btn_check.check .check_icon {
	-webkit-mask-image: url(../icons/check.png);
}

#page_Profile #profile_header {
	max-height: 250px;
	background-color: #aaa;
	position: relative;
	background-size: 100%;
	background-position: center center;
}
#page_Profile #profile_info {
	position: absolute;
	bottom: 5px;
}
#page_Profile .link_add {
	float: left;
	margin: 5px;
}

#page_Profile .link_add .icon {
	margin: 0 auto;
	width: 40px;
	height: 40px;
	background-color: #fff;
	-webkit-mask-size: 25px;
	-webkit-mask-position: center center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url(../icons/add.png);
	margin-bottom: 5px;
}

#page_Profile .link_add .label {
	font-size: 85%;
	color: #fff;
}
#page_Profile .header_overlay {
	background-color: #000; 
	opacity: .3; 
	z-index: 0;
}
#page_Profile .header_title {
	padding: 15px 10px; 
	overflow: hidden;
}
#page_Profile .header_title span {
	font-family: 'Roboto', 'Bangna';
	font-size: 180%;
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	text-overflow: ellipsis;
	line-height: 40px;
}
#page_Profile .header_title a {
	float: right;
	font-size: 70%;
	font-weight: bold;
	padding: 0 5px;
	color: #fff;
	display: none;
}
#page_Profile .pbox {
	margin: 0 10px 10px 10px;
}
#page_Profile .pbox .pimage {
	background-color: #fff;
	width: 68px;
	height: 68px;
	border-radius: 35px;
	padding: 1px;
}
#page_Profile .pbox .pimage img {
	line-height: 0;
	display: block;
	width: 68px;
	height: 68px;
	border-radius: 34px;
}
#page_Profile .stat_panel {
	padding: 10px 10px 10px 0;
}
#page_Profile .stat_panel .label {
	float: left;
	width: 66px;
	text-align: center;
	padding-top: 5px;
}
#page_Profile .stat_panel .count {
	padding-bottom: 5px;
	color: #fff;
}
#page_Profile .stat_panel .text {
	font-size: 70%; 
	color: #eee;
}
#page_Profile #xbar {
	background-color: #fff;
	height: 50px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.25);
}
#page_Profile #xbar .text {
	line-height: 50px; padding: 0 10px; font-size: 80%; color: #555; text-align: center;
}
#page_Profile .ptab a {
	display: block;
	width: 100%;
	height: 50px;
	background-color: #999;
}
#page_Profile .ptab.active a {	
	background-color: #33B5E5;
}
#page_Profile .ptab .notf {
	border-radius: 8px;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #CC0000;
	color: #fff;
	line-height: 16px;
	text-align: center;
	font-size: 65%;
}
#page_Profile .tpage {
	overflow: hidden; 
	padding: 5px;
	position: relative;
}
#page_Profile .tpage .btn_more {
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	line-height: 70px;
	text-align: center;
}
#page_Profile .tpage.loading .btn_more {
	display: block;
}

#page_Book .btitle {
	font-family: 'Roboto', 'Bangna';
	font-weight: 400;
	
	padding: 10px;
	font-size: 180%;
	color: #fff;
	line-height: 40px;
	margin-top: 10px;
}
#page_Book .edit_book {
	margin-top: 10px;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	-webkit-mask-size: 16px;
	-webkit-mask-image: url(../icons/pencil.png);
}
#page_Book .grad_overlay {
	z-index: -2;
	background-color: #000;
	opacity: .5;
}
#page_Book .bdesc {
	font-size: 80%;
	color: #eee;
	padding: 0 10px;
	margin-bottom: 10px;
}
#page_Book .book_bg {
	z-index: -3;
}
#page_Book .bline {
	height: 1px;
	margin: 0 10px 10px;
	width: 70%;
	background-color: #fff;
}
#page_Book .author_info {
	float: left;
	padding: 10px;
}
#page_Book .author_info .pimage {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #fff;
	padding: 1px;
}
#page_Book .author_info .pimage img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#page_Book .author_info .name {
	color: #fff;
}
#page_Book .text_bar {
	font-family: 'Roboto', 'Bangna';
	padding: 10px;
}
#page_Book .bottom_info {
	position: absolute;
	bottom: 0;
	color: #fff;
	width: 100%;
}
#page_Book .page_nav {
	top: 0;
}
#page_Book #tap_nav .flex1.highlight {
}
#page_Book .first_cover {
	
}
#page_Book .last_cover {
	display: none;
}
#page_Book .last_cover .end_box {
	width: 70px;
	height: 70px;
	display: block;
	line-height: 70px;
	color: #fff;
	font-size: 180%;
	text-align: center;
	font-family: 'Roboto', 'Bangna';
	font-weight: 400;
}
/*#page_Book .last_cover .end_box {
	width: 70px;
	height: 70px;
	background: rgba(0,0,0,0.6);
	display: block;
	line-height: 70px;
	border-radius: 35px;
	border: solid 2px #e5e5e5;
	color: #fff;
	font-size: 80%;
	text-align: center;
	
	margin-left: -37px;
	bottom: 30%;
	left: 50%;
}
#page_Book .last_cover .sep_line {
	position: absolute;
	width: 2px;
	height: 30%;
	bottom: 0;
	left: 50%;
	margin-left: -1px;
	background-color: #e5e5e5;
}*/

#page_Comments .comment_list .image {
	width: 50px;
	padding: 10px;
}
#page_Comments .comment_list .image img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#page_Comments .comment_list .comment {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 2px #aaa;
	padding-bottom: 10px;
}
#page_Comments .comment_list .cbox {
	padding: 10px 10px 0 0;
}
#page_Comments .comment_list .dname {
	font-size: 80%;
	font-weight: bold;
	color: #0099cc;
}
#page_Comments .comment_list .message {
	margin-top: 5px;
	font-size: 80%;
}
#page_Comments .comment_list .time {
	margin-top: 5px;
	font-size: 70%;
	color: #999;
}
#page_Comments #input_comment input {
	font-size: 110%;
}
#page_Comments #input_comment {
	background-color: #fff;
	border-top: solid 1px #33B5E5;
}
#page_Comments #input_comment .flex1 {	
	padding: 5px 0;
}
#page_Comments #input_comment .submit a {
	width: 50px;	
	height: 50px;
	display: block;
}
#page_Comments #input_comment .submit a.disabled {
	opacity: .5;
}
#page_Comments #input_comment .submit a.highlight {
	background-color: #6DCAEC;
}
#page_Comments #input_comment .submit a span {
	width: 50px;	
	height: 50px;
	background-color: #333;
	display: block;
	-webkit-mask-size: 20px; 
	-webkit-mask-position: center center; 
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url(../icons/publish.png);
}

#page_Settings .chg_pic {
	width: 40px;
	height: 40px;
	background-color: #ddd;
	margin-left: 10px;
	border-radius: 20px;
}
#page_Settings .chg_pic img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
#page_Settings .ch_logfb {
	width: 40px;
	height: 40px;
	background-color: #ddd;
	margin-left: 125px;
	border-radius: 20px;
}
#page_Settings .ch_logfb.checked {
	background-color: green !important;
}

#page_BookFlip .btitle {
	padding: 10px;
	font-size: 180%;
	color: #fff;
	line-height: 35px;
}
#page_BookFlip .grad_overlay {
	z-index: -2;
	background-color: #000;
	opacity: .5;
}
#page_BookFlip .bdesc {
	font-size: 80%;
	color: #eee;
	padding: 0 10px;
}
#page_BookFlip .bline {
	height: 1px;
	margin: 10px;
	width: 70%;
	background-color: #fff;
}
#page_BookFlip .author_info {
}
#page_BookFlip .author_info .pimage {
	width: 50px;
	height: 50px;
	margin: 0 10px;
	border-radius: 25px;
	background-color: #ddd;
}
#page_BookFlip .author_info .pimage img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#page_BookFlip .author_info .name {
	color: #fff;
}
#page_BookFlip .text_bar {
	padding: 10px;
}
#page_BookFlip .bottom_info {
	position: absolute;
	bottom: 0;
	color: #fff;
	width: 100%;
}
#page_BookFlip .page_nav {
	top: 0;
}
#page_BookFlip #tap_nav .flex1.highlight {
}

#page_ChangePic .bg_pic {
	width: 120px;
	height: 120px;
	background-color: #ddd;
	border-radius: 60px;
	margin: 0 auto;
	overflow:hidden;
}
#page_ChangePic .bg_pic img {
	width: 120px;
	height: auto;
	border-radius: 60px;
}

#page_EditBook .cmd_panel {
}
#page_EditBook .tags {
	margin: 0 10px 0 10px;
	overflow: hidden;
}
#page_EditBook .tags .name {
	display: block;
	float: left;
	color: #fff;
	background-color: #FFBB33;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 80%;
}
#page_EditBook .cmd_panel .box {
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0 10px 0 10px;
	font-size: 70%;
	font-weight: bold;
	background-color: #6DCAEC;
	color: #fff;
}
#page_EditBook .cmd_panel .box .flex1 {	
}
#page_EditBook .cmd_panel .box .flex1.highlight {	
	background-color: #6DCAEC;
}
#page_EditBook .cmd_panel .sep {
	width: 1px;
	height: 30px;
	margin-top: 10px;
	background-color: #fff;
}

#page_EditBook #book_header {
	background-color: #fff;	
}
#page_EditBook .book_size {
	margin: 10px;
	background-color: #ddd;
	background-size: auto 100%;
	background-position: center center;
}

#page_EditBook .book_det {
	padding: 10px 10px 10px 0;
}

#page_EditBook .book_det .desc {
	font-size: 80%;
	color: #999;
	overflow: hidden;
	height: 85px;
}

#page_EditBook .book_det .pcount {
	line-height: 30px;
	height: 30px;
	text-align: right;
}

#page_EditBook .link_edit {
	float: right;
	margin-bottom: 5px;
	font-size: 70%;
	font-weight: bold;
	color: #555;
}

#page_EditBook .tab_page {
	background-color: #fff;
	height: 50px;
	margin-top: 2px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.25);
}

#page_EditBook .tab_page .sep {
	width: 1px;
	background-color: #e2e2e2;
	height: 30px;
	margin-top: 10px;
}

#page_EditBook .tab_page a {
	display: block;
	width: 100%;
	height: 50px;
	font-size: 80%;
	line-height: 50px;
	color: #777;
	text-align: center;
}

#page_EditBook .tab_page a.active {
	display: block;
	width: 100%;
	height: 50px;
	font-size: 80%;
	line-height: 50px;
	color: #33B5E5;
	text-align: center;
}

#page_EditBook .page_size {
	float: left;
	margin: 5px;
	background-size: 100%;
	position: relative;
}
#page_EditBook .page_size.selected {
	box-sizing: border-box;
	border: solid 5px #33B5E5 !important; 
}
#page_EditBook .page_size.active {
	box-sizing: border-box;
	border: solid 5px #ccc;
}
#page_EditBook .pp:after {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,0) 100%);
}
#page_EditBook .page_num {
	position: absolute;
	bottom: 0;
	right: 10px;
	font-size: 80%;
	height: 30px;
	line-height: 30px;
	text-align: right;
	color: #fff;
	z-index: 1;
}
#page_EditBook .cover {
	position: absolute;
	bottom: 0;
	left: 5px;
	font-size: 80%;
	z-index: 1;
		
	width: 30px;
	height: 30px;
	background-color: #fff;
	-webkit-mask-image: url(../icons/accept.png);
}

#page_EditBook #book_panel {
	overflow: hidden;
	padding: 5px;
}
#page_EditBook #share_panel {
	padding: 10px;
}
#page_EditBook .share_cap {
	background-color: #eee;
	height: auto;
}
#page_EditBook .link_fb {
	background-color: #3B5998;
	color: #fff;
	display: block;
	text-align: center;
	font-size: 80%;
	font-weight: bold;
	padding: 15px;
	margin-top: 10px;
	opacity: .5;
}
#page_EditBook .link_fb.connect {
	opacity: 1;
}

#page_EditBook .link_add {
	float: left;
	margin: 5px;
	background-color: #e788d8;
}

#page_EditBook .link_add .icon {
	margin: 0 auto;
	width: 40px;
	height: 40px;
	background-color: #fff;
	-webkit-mask-size: 20px;
	-webkit-mask-position: center center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url(../icons/add.png);
}

#page_EditBook .link_add .label {
	font-size: 75%;
	color: #fff;
}

#page_ChangeCover .book_panel {
	overflow: hidden;
	padding: 5px;
}

#page_Notifications .notf_item {
	padding: 10px; 
	-webkit-box-shadow: 0px 0px 2px #aaa;
	background-color: #fff;
}
#page_Notifications .notf_item .uimage {
	width: 50px;
	height: 50px;
}
#page_Notifications .notf_item .uimage img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#page_Notifications .notf_item .msg {
	padding: 0 10px;
}
#page_Notifications .notf_item .msg b {
	color: #0099CC;
}
#page_Notifications .notf_item .msg .text {
	font-size: 80%;
}
#page_Notifications .notf_item .msg .time {
	font-size: 70%;
	color: #777;
	margin-top: 5px;
}